 
  <ion-content>
<div class="list _itemslist" style="padding-top: 461px;">
   <a class="item item-icon-left _itemslist"  style="background-color:#BFF1D3">
    <i class="icon ion-location" style="background-color:#9ACFA6"></i>
     3rd flooor,sector 32b,gurgoan,122045
   </a>
   <a class="item item-icon-left _itemslist " style="background-color:#BFF1D3">
    <i class="icon ion-document" style="background-color:#9ACFA6"></i>
   Ratings 4.5/5 (very good)
   </a>
   <a class="item item-icon-left _itemslist"  style="background-color:#BFF1D3">
    <i class="icon ion-clock" style="background-color:#9ACFA6"></i>
    5 40am tp 4pm
   </a>
   
   
</div>
	
</ion-content>
<div ui-view="contactus">

