<ion-tabs class="tabs-icon-bottoms " >
   <ion-tab title="About" icon-on="ion-ios7-information" 
      icon-off="ion-ios7-information" href="#/auth/storelanding">
         <ion-nav-view name="storelanding"></ion-nav-view>
   </ion-tab>
   <ion-tab title="Product" icon-on="ion-android-storage" 
      icon-off="ion-android-storage" href="#/auth/productlisting">
       <ion-nav-view name="productListing"></ion-nav-view>
   </ion-tab>

  

   <ion-tab title="Offers" icon-on="ion-android-promotion" 
      icon-off="ion-android-promotion" href="#/auth/offerslisting">
       <ion-nav-view name="offersListing"></ion-nav-view>
   </ion-tab>

   
</ion-tabs>   
</body>
</head>
</html>
