node_modules/
platforms/android/.settings
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/assets
platforms/android/bin
platforms/android/build.xml
platforms/android/CordovaLib
*.class
.project
*.apk