.MpHead {
	padding: 10px 0 5px 0;
	margin-top: 5px;
	background: url(../img/line1.png) repeat-x center center;
}

.MpTitle {
	font-size: 20px;
	color: #848484;
	background: #eee;
}

.minTitle {
	font-size: 12px;
	color: #979797;
	cursor: pointer;
	padding: 0 10px;
}

.minTitle span {
	font-style: italic;
}

.minTitle .active {
	color: #000;
}

.searchProduct input, #filterInput input {
	padding: 5px;
	font-size: 11px;
	border: 1px solid #d5d5d5;
	margin-right:8px; 
	color: #b0b0b0;
}

.drop {
	padding-left: 10px;
	background: #eee;
}

#MpHead2 {
	padding: 5px 0;
}

#listing {
	color: #b7b7b7;
	font-size: 11px;
}

.addProduct {
	color: #fff;
	float: right;
	box-shadow: 0 0 0 #000;
}

#productDetails, #categoryDetails {
	padding: 5px 0;
	margin-bottom: 20px;
}

.prodDetails {
	background: #f7f7f7;
	margin-bottom: 3px;
}

.border {
	width: 2px;
	height: 27px;
	background: #2e8cbd;
}

.prodName {
	font-size: 12px;
	color: #2e8cbd;
	padding: 5px 10px;
}

.costs {
	float: right;
	padding: 5px 10px;
}

.prodXtra {
	color: #c9c9c9;
	font-size: 11px;
}

.prodPrice {
	color: #28d223;
	font-size: 12px;
	font-weight: bold;
	vertical-align: top;
}

.active .border {
	height: 54px;
	width: 10px;
	padding: 0 10px;
	background:#2e8cbd url(../img/side.png) no-repeat center center;
}

.sold {
	display: none;
}

.active .sold {
	padding: 10px;
	font-size: 12px;
	display: inline-block;
	background: #e0e0e0;
}

.active .soldItem {
	color: #2e8cbd;
	font-weight: bold;
}

.active .soldleft {
	color: #bababa;
}

.active .prodTitle {
	font-size: 13px;
	text-decoration: underline;
	cursor: pointer;
}

.active .prodXtra {
	display: block;
}

.active .prodName {
	position: relative;
}

.active .prodTitle:after {
	content: "";
	background: url(../img/prod.png) no-repeat center right;
	position: absolute;
	right: -10px;
	top: 10px;
	height: 10px;
	width: 10px;
}

.active .prodTitle:hover:after {
	background: url(../img/prod1.png) no-repeat center right;
}

.active .cost {
	text-align: right;
}

.coupons {
	display: none;
	cursor: pointer;
}

.active .coupons {
	display: block;
}

.active .coupon, .category {
	color: #2e8cbd;
	font-size: 12px;
}

.priceXtra {
	vertical-align: top;
	display: inline-block;
}

.active .priceXtra {
	display: none;
}

.catDetails {
	background: #f7f7f7;
	margin-bottom: 3px;
}

.catTitle {
	padding:8px;	
}

.catName {
	font-size: 12px;
	color: #2e8cbd;
}

.catImg {
	background: #2e8cbd;
	padding:8px;
}

.catcoupons {
	float: right;
}

.catcoupon, .catgory {
	padding: 8px;
	color: #2e8cbd;
	font-size: 12px;
	cursor: pointer;
}

.showItems {
	font-size: 12px;
	color: #b7b7b7;
	cursor: pointer;
	padding: 0 5px;
}

.showItems.active {
	color: #6e6e6e;
	font-weight: bold;
}

#all  {
	float: right;
}

.allItems {
	font-size: 12px;
	color: #717171;
	cursor: pointer;
}

.pagination {
	width: 120px;
	font-size: 12px;
	color: #717171;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.pageItems {
	padding:0 5px;
	cursor: pointer;
}

.pageItems.active {
	background: #fff;
}

.active .catDetails {
	background: #fff;
}

.catcoupons {
	display: inline-block;
}

.active .catcoupons {
	display: none;
}

.subCatDetails {
	display: none;
}

.active .subCatDetails {
	display: block;
	margin: 3px 0 3px 37px;
	background: #f7f7f7;
}

#catBox {
	position: absolute;
	background: #fff;
	width: 180px;
	right: 0;
	top: 28px;
	border: 1px solid rgba(0,0,0,.1);
	z-index: 1;
	display: none;
}

.catBoxItems {
	padding: 5px;
}

.catBoxTitle {
	font-size: 10px;
	color: #cecece;
	padding: 5px;
}

.catBoxClose {
	float: right;
	padding: 5px;
}

.catBoxClose img {
	vertical-align: top;
	opacity: 0.8;
}

#addCat {
	background: #2e8cbd;
}

#addNew {
	padding: 5px 8px;
	color: #fff;
	color: #fff;
}

.prodDetails.active .categoryTitle {
	position: relative;
	background: #fff;
	padding: 5px 8px;
	z-index: 20;
	border: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid #fff;
}
