.slug input {
	background: #eaeaea;
	color: #848484;
	width: 100%;
	border: 0;
	padding: 5px 8px;
	border: 1px solid #eaeaea;
}

.manufacturer input {
	color: #2e8cbd;
	width: 100%;
	border: 1px solid #eaeaea;
	padding: 5px 8px;
}

.service input {
	background: #fff;
	background: 1px solid #eaeaea;
	width: 100%;
	padding: 5px 8px;
	color: #a5a5a5;
}