.margin {
    margin - left: 9px;
    margin - right: 9px;
}

.icon-actions {
    font-size: 23px;
}

.middleTabs> a {
	line-height:inherit;
}
.scroll { 
  min-width: 100%;
  
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
  

}

.inlineparent > * {
	display: inline-block;
}

.checkbox {
    vertical-align: middle;
}

.actions {
    float: right;
}

.item-text-wrap {
    overflow: auto;
}

.ion-checkmark-circled.icon-actions.margin
{
	margin-right: 35px;
}

.tabitems {
	position: absolute;
	bottom: 690px;

line-height: 49px;
}

.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}